/* FULL SCREEN HEART BACKGROUND */
.final-wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  background-color: #ffc0cb;
  background-image: url("https://media.istockphoto.com/id/1080854888/vector/seamless-pink-texture-with-scattered-hearts-valentines-day-backdrop-vector-illustration.jpg?s=612x612&w=0&k=20&c=kRqmJqTeIj8RJ4Lf2sfmckm72M2eLnp7w-S6KH1D0es=");
  background-size: 300px;
}

/* GIF STYLE */
.final-gif {
  max-width: 75%;
  max-height: 75%;

  border-radius: 30px;

  /* Remove shadow completely */
  box-shadow: none;

  /* Smooth edge blend */
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);

  transition: opacity 0.4s ease;
}

/* Fade States */
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}