.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*Background*/
body{
  margin: 0;
  min-height: 100vh;

  background-color: #ffe6ee;
  background-image: url("https://media.istockphoto.com/id/1080854888/vector/seamless-pink-texture-with-scattered-hearts-valentines-day-backdrop-vector-illustration.jpg?s=612x612&w=0&k=20&c=kRqmJqTeIj8RJ4Lf2sfmckm72M2eLnp7w-S6KH1D0es=");
  background-repeat: repeat;
}


/*card style for each page*/
.card{
  background: white;
  padding: 2.5rem;
  border-radius: 16px;
  max-width: 420px;
  width: 90%;

  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

button{
  background-color: #ff4d6d;
  color: white;
  border: none;
  padding: 12px 22px;
  margin-top: 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover{
  background-color: #ff1f4b;
  transform:scale(1.05);
}
